{%extends 'main.html' %} {%block content %}

<!-- Main Section -->
<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper">
      <h3>Password reset complete</h3>
      <p>Your password has been set. You may go head and log in now</p>
      <p>
        If you don't receive an email,Please make sure you've entered the
        address you registered with, and check your spam folder
      </p>
      <a href="{% url 'login' %}">Log in</a>
      <br />
    </div>
  </div>
</main>

{%endblock content %}
